@font-face {
  font-family: 'HenkenGrotesk';
  src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}
:root{
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'HenkenGrotesk' ;
}
.principal{
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between  ;
  padding: 24px 24px 42px;
  background: linear-gradient(180deg, rgba(120,87,255,1) 3%, rgba(46,43,233,1) 100%);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.principal h1{
  font-size: 1.9rem;
  color: var(--light-lavender);
  padding-bottom: 16px;
  font-weight: 500;
}
.principal p {
  max-width: 290px;

}
.principal .score{
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(36,33,202,0) 3%, rgba(78,33,202,1) 100%);
  border-radius: 50%;
}
.principal .score p{
  margin-top: 0;
  text-align: center;
  font-size: 6.4rem;
  color: hsl(221, 100%, 96%);
  font-weight: 700;
}
.principal .score p:last-child{
  text-align: center;
  font-size: 1.6rem;
  color: var(--light-lavender);
  font-weight: 500;
}
.principal p{
  text-align: center;
  margin-top: 16px;
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
}
.principal p:last-child{
  text-align: center;
  margin-top: 0;
  color: var(--light-lavender);
  font-size: 1.6rem;
  font-weight: 500;
}
.secondary{
  max-width: 480px;
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  margin: 0 auto;
  gap: 20px;
}
.secondary h2{
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 12px;
}
.secondary .score-card{
  height: 54px;
  display: flex;
  background-color: hsla(0, 100%, 67%,0.10);
  border-radius: 8px;
  padding: 8px 16px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.secondary .score-card:nth-child(3){
  background-color: hsla(39, 100%, 56%, 0.1);
}
.secondary .score-card:nth-child(4){
  background-color: hsla(166, 100%, 37%, 0.1);
}
.secondary .score-card:nth-child(5){
  background-color: hsla(234, 85%, 45%, 0.1);
}
.secondary .score-card div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
} 
.secondary .score-card div .ray{
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--light-red);
} 
.secondary .score-card .yellower{
  color: var(--orangey-yellow);
} 
.secondary .score-card div .greener{
  color: var(--green-teal);
} 
.secondary .score-card div .bluer{
  color: var(--cobalt-blue);
} 
.secondary .score-card p{
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark-gray-blue);
} 
.secondary .score-card p span{
  font-size: 1.6rem;
  font-weight: 700;
  color: hsla(224, 30%, 27%,0.2);
} 
button{
  margin-top: 12px;
  height: 54px;
  border-radius: 27px;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  background-color: var(--dark-gray-blue);
  color: var(--pale-blue);
}
.attribution{
  padding: 12px;
  background: linear-gradient(180deg, rgb(53, 50, 216) 3%, rgb(74, 47, 183) 100%);
}
.attribution .social{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}
.attribution p,
.attribution p a{
  text-decoration: none;
  color: #ECF2FF;
  font-size: 1.2rem;
  padding-bottom: 8px;
}
.attribution p a{
  text-decoration: none;
  color: #ECF2FF;
  font-size: 1.2rem;
  padding-bottom: 8px;
}


@media screen and (min-width:700px) {
  
  .sumary{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 81px);
  }
  .sumary > div {
    border-radius: 16px;
    display: flex;
    box-shadow: 3px 3px 25px -5px rgba(0,0,0,0.30);
  }
  .principal{
    width: 350px;
    height: 480px;
    border-radius: 16px;
    padding: 36px 36px 54px;
    margin: 0;
  }
  .principal h1{
    font-size: 2.4rem;
  }
  .principal .score{
    width: 180px;
    height: 180px;
  }
  .principal p{
    font-size: 3rem;
    font-weight: 700;
  }
  .principal p:last-child{
    width: 200px;
  }
  .secondary{
    width: 350px;
    height: 480px;
    margin: 0;
    justify-content: space-between;
    border-radius: 16px;
  }
  .secondary h2{
    padding-bottom: 18px;
    padding-top: 12px;
  }
  button{
    margin-top: 18px;
    margin-bottom: 12px;
  }
}